<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>YOLO</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>meetingReview</display-name>
  	<servlet-name>meetingReview</servlet-name>
  	<servlet-class>com.semi.yolo.community.controller.meetingReview</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>meetingreview</display-name>
  	<servlet-name>meetingreview</servlet-name>
  	<servlet-class>com.semi.yolo.community.controller.MeetingReviewServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>programList</display-name>
  	<servlet-name>programList</servlet-name>
  	<servlet-class>com.semi.yolo.program.controller.ProgramListServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>meetingWrite</display-name>
  	<servlet-name>meetingWrite</servlet-name>
  	<servlet-class>com.semi.yolo.community.controller.MeetingWriteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>boardView</display-name>
  	<servlet-name>boardView</servlet-name>
  	<servlet-class>com.semi.yolo.community.controller.BoardViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>boarddetailedpage</display-name>
  	<servlet-name>boarddetailedpage</servlet-name>
  	<servlet-class>com.semi.yolo.community.controller.BoardDetailedpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>meetingReview</servlet-name>
  	<url-pattern>/meetingReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>meetingreview</servlet-name>
  	<url-pattern>/community/meetingreview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>programList</servlet-name>
  	<url-pattern>/program/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>meetingWrite</servlet-name>
  	<url-pattern>/meeting/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>boardView</servlet-name>
  	<url-pattern>/board/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>boarddetailedpage</servlet-name>
  	<url-pattern>/board/detailedpage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>